---
layout: default
---
    <header>
        <div class="jumbotron jumbotron-fluid">
            <div class="bv">

            </div>
            <div class="container">
                <div class=" hero">
                    <div class="row">
                        <div class="col-lg-12 co">
                            <h1><strong>Hello I'M </strong></h1>
                            <h1><strong style="color: #FF4500">ERNST</strong></h1>
                            <h1><strong>KANDOMBO</strong></h1>
                        </div>
                    </div>
               
                </div>
             
            </div>
            <div  style="padding: 40px 30px 10px 30px;">
                <a href="#About"><i class="fas fa-angle-double-down"></i>
                </a>
            </div>
        </div>
    </header>
    {% include about.html %}
    {% include projects.html %}
    {% include contact.html %}
    