---
layout: default
---
<header>
    <div class="bv">
    </div>
</header>
<section id="All_Projects">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 workphead">
                    <h1>All that   </h1>
                    <h1>I have</h1>
                    <h1><strong style="color: #FF4500">Worked</strong> on.</h1>
            </div>
            <div class="col-lg-6">
                <div class="all_project_img">

                </div>
            </div>
            <div class="col-lg-12 down_w">
                    <a href="#pj"><i class="fas fa-angle-double-down"></i>
            </div>
            <div class="col-lg-12">
                <div id="pj" class="container">
                        <ul class="nav nav-pills justify-content-end " id="pills-tab" role="tablist">
                                <li class="nav-item">
                                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Websites</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Graphics Designs</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="myTabContent">
                              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                    <div class="row">
                    
                                            {% for project in site.projects  %}
                                                {% if project.categories contains 'website' %}
                                                <div class="col-lg-4 col-md-6 zxc">
                                                    <a href="{{ project.url }}">
                                                    <div class="card">
                                                            <img src="{{ site.baseurl }}/assets/img/{{ project.Plogo }}" alt="">
                                                            <div class="card_body rt">
                                                                <small ><strong style="border-bottom: 1px solid #FF4500">{{ project.year }}</strong></small>
                                                                <div>
                                                                    <h6><strong>{{ project.title }}</strong></h6>
                                                                    <small><strong>{{ project.category }}</strong></small>
                                                                </div>
                                                            </div>
                                                    </div>
                                                    </a>
                                                </div>
                                                {% endif %}
                                           {% endfor %}
                                
                                           
                                         </div>
                              </div>
                              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                    <div class="row">
                    
                                            {% for project in site.projects  %}
                                                    {% if project.categories contains 'graphics' %}
                                                    <div class="col-lg-4 col-md-6 zxc">
                                                        <a href="{{ project.url }}">
                                                        <div class="card">
                                                                <img src="{{ site.baseurl }}/assets/img/{{ project.Plogo }}" alt="">
                                                                <div class="card_body rt">
                                                                    <small ><strong style="border-bottom: 1px solid #FF4500">{{ project.year }}</strong></small>
                                                                    <div>
                                                                        <h6><strong>{{ project.title }}</strong></h6>
                                                                        <small><strong>{{ project.category }}</strong></small>
                                                                    </div>
                                                                </div>
                                                        </div>
                                                        </a>
                                                    </div>
                                                    {% endif %}
                                            {% endfor %}
                                            
                                
                                
                                           
                                         </div>
                              </div>
                              
                            </div>
                </div>
            </div>
           
        </div>
    </div>
</section>
{% include contact.html %}