<section id="About">
        <div class="container about_details">
        <div class="row">
             <div class="col-lg-6 abouthead">
                 <h1>Want   </h1>
                 <h1>To Get</h1>
                 <h1>To <strong style="color: #FF4500">know</strong> me.</h1>
             </div>
             <div class="col-lg-6">
                 <div class="row">
                     <div class="col-lg-12" style="padding: 10px 0px">
                             <small><strong>Lorem ipsum dolor</strong> sit amet consectetur adipisicing elit. Quis in et facere? Sint ab ipsum odit rem quas error, ullam, quaerat officiis minima velit animi natus quod! Laboriosam, maxime officiis. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur eos odit quas dolorum amet recusandae expedita pariatur reprehenderit impedit rerum eaque ipsa nam maiores fugiat, nihil, est delectus voluptates doloremque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi odit facilis mollitia id enim pariatur veritatis suscipit dolorum. Nam, libero! Veritatis beatae explicabo, quo ullam sequi quam officia consequatur molestias!</small>
                     </div>
                     <div class="col-lg-12" style="padding: 10px 0px">
                             <small><strong>Lorem ipsum dolor</strong> sit amet consectetur adipisicing elit. Quis in et facere? Sint ab ipsum odit rem quas error, ullam, quaerat officiis minima velit animi natus quod! Laboriosam, maxime officiis. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur eos odit quas dolorum amet recusandae expedita pariatur reprehenderit impedit rerum eaque ipsa nam maiores fugiat, nihil, est delectus voluptates doloremque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi odit facilis mollitia id enim pariatur veritatis suscipit dolorum. Nam, libero! Veritatis beatae explicabo, quo ullam sequi quam officia consequatur molestias!</small>
                     </div>
                     <div class="col-lg-12" style="padding: 10px 0px">
                             <small><strong>Lorem ipsum dolor</strong> sit amet consectetur adipisicing elit. Quis in et facere? Sint ab ipsum odit rem quas error, ullam, quaerat officiis minima velit animi natus quod! Laboriosam, maxime officiis. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur eos odit quas dolorum amet recusandae expedita pariatur reprehenderit impedit rerum eaque ipsa nam maiores fugiat, nihil, est delectus voluptates doloremque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi odit facilis mollitia id enim pariatur veritatis suscipit dolorum. Nam, libero! Veritatis beatae explicabo, quo ullam sequi quam officia consequatur molestias!</small>
                     </div>
                 </div>
             </div>
        </div>
        </div>
</section>        