<section id="Project">
        

    <div class="container">
            <div class="row">
                <div class="col-lg-6 workhead">
                       
                    <h1>What   </h1>
                    <h1>I have</h1>
                    <h1><strong style="color: #FF4500">Worked</strong> on.</h1>
                            
                </div>
                <div class="col-lg-6">
                    <span></span>
                </div>
            </div>
            <ul class="nav nav-pills justify-content-end " id="pills-tab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Websites</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Graphics Designs</a>
                    </li>
                    
                </ul>
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="row ">
                                {% for project in site.projects limit:6  %}
                                                {% if project.categories contains 'Website' %}
                                                <div class="col-lg-4 col-md-6 zxc">
                                                    <div class="card rounded-0">
                    
                                                        <img src="{{ site.baseurl }}{{ project.plogo }}" alt="">
                                                    
                                                       <div class="overlay">
                                                            <div class="c_top">
                                                               <small><strong>{{ project.year }}</strong></small> 
                                                            </div>
                                                            <div class="c_med">
                                                                <h5><strong>{{ project.title }}</strong></h5>
                                                                <small><strong>{{ project.category }}</strong></small>
                                                            </div>
                                                            <div class="c_bottom">
                                                                <span></span> 
                                                                <a href="{{ project.url }}"><i class="fas fa-code"></i></a>
                                                            </div>
                                                       </div>
                                                    
                                                </div>
                                                </div>
                                                {% endif %}
                                           {% endfor %}
                               
                             </div>
                  </div>
                  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row">
        
                               
                                {% for project in site.projects  %}
                                {% if project.categories contains 'Graphics' %}
                                <div class="col-lg-4 col-md-6 zxc">
                                    <div class="card rounded-0">
                    
                                        <img src="{{ site.baseurl }}{{ project.plogo }}" alt="">
                                    
                                       <div class="overlay">
                                            <div class="c_top">
                                               <small><strong>{{ project.year }}</strong></small> 
                                            </div>
                                            <div class="c_med">
                                                <h5><strong>{{ project.title }}</strong></h5>
                                                <small><strong>{{ project.category }}</strong></small>
                                            </div>
                                            <div class="c_bottom">
                                                <span></span>
                                                <a href="{{ project.url }}"><i class="fas fa-palette"></i></a>
                                            </div>
                                       </div>
                                    
                                </div>
                                </div>
                                {% endif %}
                        {% endfor %}
                                
                    
                    
                               
                             </div>
                  </div>
                  
                </div>
                <div class="morep">
                    <a href="work/index.html"">All Projects.</a>
                </div>
                <hr>
    </div>
</section>