<section id="project">
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-lg-4">
                <a class="projectone" href="">
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <img src="http://placehold.it/20S0x250" alt="">
                            </div>
                            <div class="col p_details">
                                <small><strong>2019</strong></small>
                                <div >
                                    <h5><strong>Title of project</strong></h5>
                                    <small>category</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
        </div>
    </div>
</section>