<section id="project">
    <div class="container">
         <div class="row">

            <div class="col-lg-4 zxc">
                <a href="">
                   <div class="card">
                        <img src="https://i.redd.it/b3esnz5ra34y.jpg" alt="">
                        <div class="card_body">
                            <small><strong>2019</strong></small>
                            <h6><strong>TITLE OF PROJECT</strong></h6>
                            <small>cartegory</small>
                        </div>
                   </div>
                </a>
            </div>



           
         </div>
    </div>
</section>